{% extends 'base.html.twig' %}

{% block title %}
    Grade question
{% endblock %}

{% block content %}
    <h2>Question {{ currentQuestion }}/{{ totalQuestions }}:</h2>
    To the question: <b>{{ question_text }}</b>
    <br />
    <br />
    <div class="panel panel-default">
      <div class="panel-heading"><b style="font-size:1.1em;">{{ person }}</b> answered</div>
      <div class="panel-body">{{ answer_text }}</div>
    </div>
    <br />
    {{ form_start(form, {'attr': {'id': 'form_main'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  function getAmbient()
  {
    //TODO - This function needs to be overwritten.
    return "CHANGED";
  }


  $(attachSubmit);

  function attachSubmit()
  {
    $('#form_main').submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting

        var ambient=getAmbient();

        var button=document.getElementById('form_save');
        var loading=document.createElement("span");
        loading.innerHTML="Please wait...";
        button.parentNode.insertBefore(loading, button);
        button.style.display="none";

        if (document.getElementById('form_ambient').value=="TO-BE-FILLED")
          document.getElementById('form_ambient').value="";
        document.getElementById('form_ambient').value+=ambient;
        this.submit(); // If all the validations succeeded
      });
  }
</script>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
