{% extends 'base.html.twig' %}

{% block title %}
    Classifique esta pergunta
{% endblock %}

{% block content %}
    <h2>Questão {{ currentQuestion }}/{{ totalQuestions }}:</h2>
    À pergunta: <b>{{ question_text }}</b>
    <br />
    <br />
    <div class="panel panel-default">
      <div class="panel-heading"><b style="font-size:1.1em;">{{ person }}</b> respondeu</div>
      <div class="panel-body">{{ answer_text }}</div>
    </div>
    <br />
    {{ form_start(form, {'attr': {'id': 'form_main'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <script type="text/javascript" src="{{ asset('js/ambient.js') }}"></script>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

  $(attachSubmit);

  function attachSubmit()
  {
    $('#form_main').submit(function(ev) {
        ev.preventDefault(); // to stop the form from submitting

        var ambient="";

        if (getAmbient)
          ambient=getAmbient();

        var button=document.getElementById('form_save');
        var loading=document.createElement("span");
        loading.innerHTML="Por favor, espere...";
        button.parentNode.insertBefore(loading, button);
        button.style.display="none";

        if (document.getElementById('form_ambient').value=="TO-BE-FILLED")
          document.getElementById('form_ambient').value="";
        document.getElementById('form_ambient').value+=ambient;
        this.submit(); // If all the validations succeeded
      });
  }
</script>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
