{% extends 'base.html.twig' %}

{% block title %}
    Questão
{% endblock %}

{% block content %}
    <h2>Questão
    {% if stressor == 1 %}
      (Surprise):
    {% else %}
      {{ currentQuestion }}/{{ totalQuestions }}:
    {% endif %}
    </h2>
    {% if stressor == 1 %}
      <div id="clockBox" class="alert alert-danger">
        <strong>Atenção!</strong> Você deve responder à pergunta em <span style="font-size:4em; padding-left:10px;" id="clock">5:00</span>.
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {% if stressor == 1 %}
          <b style="font-size:1.1em;">Esta pergunta afetará sua qualificação global</b><br />
        {% endif %}
        Questão:
      </div>
      <div class="panel-body">{{ question_text }}</div>
    </div>
    {{ form_start(form, {'attr': {'id': 'form_main'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <script type="text/javascript" src="{{ asset('js/ambient.js') }}"></script>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $(onReady);

  var clock=300;
  var cBox=null;
  var intervalH=null;

  function timerStep()
  {
      if (clock<=0)
      {
        onSubmitAmbient();
        document.getElementById('form_main').submit();
        clearInterval(intervalH);
      }
      else
      {
        clock=clock-1;

        if (!cBox)
          cBox=document.getElementById('clock');

        if (cBox)
        {
          var secs="0"+(clock%60);
          cBox.innerHTML=Math.floor(clock/60)+":"+secs.substring(secs.length-2,secs.length);
          cBox.style.color=(clock%2)?((clock>10)?"red":"black"):((clock>10)?"":"red");
        }
      }
  }

  function onSubmitAmbient(ev)
  {
      if (ev)
        ev.preventDefault(); // to stop the form from submitting

      var ambient="";

      if (getAmbient)
        ambient=getAmbient();

      var button=document.getElementById('form_save');
      var loading=document.createElement("span");
      loading.innerHTML="Por favor, espere...";
      button.parentNode.insertBefore(loading, button);
      button.style.display="none";

      if (document.getElementById('form_ambientVariables').value=="TO-BE-FILLED")
        document.getElementById('form_ambientVariables').value="";
      document.getElementById('form_ambientVariables').value+=ambient;
      if (document.getElementById('form_text').value=="")
        document.getElementById('form_text').value="UNANSWERED";
      document.getElementById('form_main').submit(); // If all the validations succeeded
  }

  function onReady()
  {
    document.getElementById('form_text').setAttribute('placeholder','Escreva sua resposta aqui');

    $('#form_main').submit(onSubmitAmbient);

      {% if stressor == 1 %}
        intervalH=setInterval(timerStep,1000);
      {% endif %}
  }
</script>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
